/* NAVBAR START */
.navbar {
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo h3 {
  color: red;
  font-weight: 700;
  margin-bottom: 0;
}
.navbar-logo-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  width: 60%;
  margin: auto;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
  width: 40%;
}
.movie-search {
  border-radius: 20px;
  border: 2px solid rgb(255, 0, 0);
  width: 200%;
  height: 35px;
  background-color: transparent;
  color: white;
}
.movie-search:focus {
  background: transparent;
  color: white;
}
.movie-search::placeholder {
  color: white;
}
.navbar-buttons {
  gap: 20px;
  padding: 0 20px;
}

.login-btn {
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.register-btn {
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.logout-btn {
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
/* NAVBAR END */

/* LOGIN, REGISTER FORM MODAL START */
.login-form,
.login-google,
.register-form {
  border-radius: 20px;
  justify-content: center;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.link-register {
  display: flex;
  margin: 0 auto;
  text-align: center;
}
.login-modal {
  overflow-x: hidden;
}
.register-modal {
  overflow-x: hidden;
}
.email-form,
.name-form,
.password-form {
  border-radius: 20px;
  border: 2px solid rgb(255, 0, 0);
  padding: 15px;
  width: 400px;
  height: 35px;
  background-color: transparent;
  color: black;
}
/* LOGIN, REGISTER FORM MODAL END */

/* WELCOME PAGE START */
.carousel-image-welcome {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
/* WELCOME PAGE END */

/* CAROUSEL HOME START */
.carousel-image-home {
  width: 100%;
}
/* CAROUSEL HOME END */

/* MOVIE LIST START */
.movie-wrapper-home {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 2rem;
}

.movie-image-home {
  border-radius: 15px;
}

.movie-headlines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
/* MOVIE LIST END */

/* DETAIL MOVIE START */
.carousel-detail {
  position: relative;
}
.carousel-detail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-image-detail {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}
.movie-description-wrapper {
  position: absolute;
  top: 40px;
  padding: 20px;
  color: white;
  z-index: 1;
  padding: 5rem;
  display: flex;
}
.movie-image-wrapper-detail {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-description {
  margin: 20px 0;
  width: 70%;
}
.movie-image-detail {
  border-radius: 15px;
  width: 70%;
  justify-self: start;
}
.movie-genres {
  display: flex;
  align-items: center;
  gap: 10px;
  color: red;
  margin: 20px 0;
}
.movie-genres p {
  margin: 0;
  padding: 7px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  border: 1.5px solid red;
  font-weight: 600;
  white-space: nowrap;
}
.movie-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  color: yellow;
  margin: 20px 0;
}
.movie-button-detail {
  border-radius: 20px;
  transition: 0.5s;
}
/* DETAIL MOVIE END */

/* FOOTER START */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
/* FOOTER END */

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  /* NAVBAR START */
  .navbar-logo-input {
    width: auto;
    padding: 20px;
    gap: 10px;
  }
  .navbar-logo {
    margin-right: 0;
  }
  .navbar-buttons {
    width: 100%;
    visibility: visible;
  }
  .movie-search {
    width: 100%;
  }
  /* NAVBAR END */

  /* HOME START */
  .movie-headlines {
    padding: 0 1rem;
  }
  .movie-image-home {
    width: 90%;
  }
  .carousel-image-home {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .movie-headlines h5 {
    font-size: 16px;
  }
  .movie-wrapper-home {
    grid-template-columns: repeat(2, 1fr);
  }
  .movie-caption-home {
    width: 100%;
    justify-self: center;
    padding: 0 20px;
  }
  /* HOME END */

  /* DETAIL START */
  .carousel-image-detail {
    width: 100%;
    object-fit: cover;
    height: 105vh;
  }
  .movie-description-wrapper {
    width: 100%;
    padding: 7rem 30px;
    top: 0;
    flex-direction: column;
  }
  .movie-image-detail {
    width: 150%;
    margin-left: 50px;
  }
  .movie-genres {
    overflow-x: scroll;
  }
  .movie-description {
    width: 100%;
  }
  /* DETAIL END */

  /* FOOTER START */
  .footer-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  /* FOOTER END */
}
